:root {
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background: var(--bg);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: circle;
}

table {
    border: 1px solid blanchedalmond;
}

th {
    border: 1px solid blanchedalmond;
}

#msg {
    font-size: small;
}

.btn {
    position: absolute;
    top: 10px;
    left: 90%;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    border: none;
    color: #ffffff;
    background: #1f58f3;
}

.dark-theme {
    color: #bbbbbb;
    background: #000000;
    --btnBG: var(--black)
    --btnFontColor: var(--white)
}

.light-theme {
    color: #000000;
    background: #bbbbbb;
    --btnBG: var(--white)
    --btnFontColor: var(--black)
}

.list {
    list-style: square;
}